#mbr =               "/dev/sda"
#rootpartition =     "/dev/sda3"
#swappartition =     "/dev/sda6"

workdir =           "./target/default"
hostname =          "janus"
arch =              "i386"
release =           "natty"
repository =        "http://de.archive.ubuntu.com/ubuntu/"

kernel =            "linux-image-3.0.0-12-generic"
basepackages =      "man nano wicd-curses"
packages =          "mc xserver-xorg-video-ati xinit ttf-ubuntu-font-family xfce4-session murrine-themes blubuntu-theme breathe-icon-theme"

user =              "zaphod"
groups =            "sudo"
