mbr =               "/dev/sda"
rootpartition =     "/dev/sda3"
swappartition =     "/dev/sda6"

workdir =           "./target/default"
hostname =          "deimos"
arch =              "i386"
release =           "oneiric"
repository =        "http://de.archive.ubuntu.com/ubuntu/"

kernel =            "linux-image-3.0.0-12-generic"
packages =          "man, nano, wicd-curses, xserver-xorg-video-ati, xinit, xfce4-session, blubuntu-theme, breathe-icon-theme"

user =              "zaphod"
groups =            "sudo"
