mbr =           "/dev/sda"
rootpartition = "/dev/sda3"
swappartition = "/dev/sda6"

workdir =       "./target/default"
hostname =      "charon"
arch =          "i386"
release =       "oneiric"
repository =    "http://de.archive.ubuntu.com/ubuntu/"

kernel =        "linux-image-3.0.0-11-generic"
packages =      "wicd-curses"
